{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <!-- Search youtube form -->
    <div class="container-sm mt-5 w-50 text-center" style="margin-bottom: 120px;">
        <div class="card">
            <fieldset>
                <legend class="card-title text-primary mt-3">
                    <h2 class="fw-bold fs-2">
                        <i class="fa-brands fa-youtube fa-lg">&nbsp; </i>Search Youtube
                    </h2>
                </legend>
            </fieldset>
            <form class="form-group" action="" method="post" autocomplete="off">
                {% csrf_token %}
                <fieldset class="card-body">
                   {{ form|crispy }}
                </fieldset>
                <fieldset class="card-footer mt-auto">
                    <button class="btn btn-primary text-center" type="submit">
                        Search
                    </button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock content %}
    



