{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <!-- Search wikipedia form -->
    <div class="container mt-5" style="margin-bottom: 120px;">
        <div class="card mb-5">
            <fieldset>
                <legend class="card-title text-center text-info mt-3">
                    <h2 class="fw-bold fs-2">
                        <i class="fa-brands fa-wikipedia-w fa-lg"></i>&nbsp;
                        Search article
                    </h2>
                </legend>
            </fieldset>
            <form class="form-group" action="" method="post" autocomplete="off">
                {% csrf_token %}
                <fieldset class="card-body">
                    {{ form|crispy }}
                </fieldset>
                <fieldest class="card-footer mt-auto">
                    <button class="btn btn-outline-primary text-center" type="submit">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i> &nbsp;Search
                    </button>
                </fieldest>
            </form>
        </div>

        <!-- display an article -->
        {% if heading and url and summary %}
            <h2 class="text-primary text-center text-decoration-underline mb-4">
                {{ heading }}
            </h2>
            <p><a class="btn btn-info" href="{{ url }}" target="_blank">Wikipedia</a></p>
            <p>{{ summary }}</p>
        {% else %}
            <h2 class="alert alert-info">Sorry, cannot find that article at the moment...</h2>
        {% endif %}

    </div>
{% endblock content %}
    