{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    
    <!-- display activities -->
    {% if activities %}
        <div class="container-md mt-5">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-dark table-bordered">
                    <caption>List of activities</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for activity in activities %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="text-capitalize">{{ activity.title }}</td>
                                <td>
                                    <a class="text-decoration-none" href="{% url 'activity:update_activity' activity.id %}">
                                        <div class="text-light">
                                            {% if activity.is_finished == True %}
                                                <input class="form-cntrol" type="checkbox" name="" id="" checked>
                                            {% else %}
                                                <input class="form-cntrol" type="checkbox" name="" id="">
                                            {% endif %}
                                            &nbsp;
                                            Mark as complete   
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'activity:delete_activity' activity.id %}">
                                        <i class="fa-solid fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %} 
        <h3 class="alert alert-info mt-3">No activities listed so far</h3> 
    {% endif %}


    <!-- create activity form -->
    <div class="container-sm mt-5 w-75" style="margin-bottom: 120px;">
        <div class="card">
            <fieldset>
                <legend class="card-title text-center text-primary mt-3">
                    <h2 class="fw-bold fs-2">Add an activity</h2>
                </legend>
            </fieldset>
            <form class="form-group" action="" method="post" autocomplete="off">
                {% csrf_token %}
                <fieldset class="card-body">
                    {{ form|crispy }}
                </fieldset>
                <fieldest class="card-footer mt-auto">
                    <button class="btn btn-info text-center" type="submit">
                        Add
                    </button>
                </fieldest>
            </form>
        </div>
    </div>
        
{% endblock content %}
    