{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- display homeworks in a table -->
    {% if homeworks %}
        <div class="container-md mt-5">
            <div class="table-responsive">
                <table class="table  table-striped table-bordered table-hover table-dark">
                    <thead>
                        <tr class="text-capitalize">
                            <th>#</th>
                            <th>subject</th>
                            <th>title</th>
                            <th>description</th>
                            <th>due</th>
                            <th>status</th>
                            <th>action</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for homework in homeworks %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-capitalize">{{ homework.subject }}</td>
                            <td class="text-capitalize">{{ homework.title }}</td>
                            <td>{{ homework.description }}</td>
                            <td>{{ homework.due_date }}</td>
                            <td>
                                <a class="text-decoration-none" href="{% url 'homework:update_homework' homework.id %}">
                                    <div class="form-check">
                                        {% if homework.is_finished == True %}
                                        <input type="checkbox" class="form-check-input" checked>
                                        {% else %}
                                        <input type="checkbox" class="form-check-input">
                                        {% endif %}
                                        &nbsp;
                                        <label class="text-light" for="status">Mark as complete</label>
                                    </div>
                                </a>
                            </td>
                            <td class="text-danger">
                                <a class="text-decoration-none" href="{% url 'homework:delete_homework' homework.id %}">
                                    <i class="fa-solid fa-trash fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
            </div>
        </div>
    {% else %}
        <h3 class="alert alert-info">No homeworks added yet</h3>    
    {% endif %} 
    
    
    <!-- add homewok form -->
    <div class="container mt-5" style="margin-bottom: 120px;">
        <div class="card">
            <fieldset>
                <legend class="card-title text-center text-info mt-3">
                    <h2 class="fw-bold fs-2">Create</h2>
                </legend>
            </fieldset>
            <form class="form-group" action="" method="post" autocomplete="off">
                {% csrf_token %}
                <fieldset class="card-body">
                    {{ form.media }}
                    {{ form|crispy }}
                </fieldset>
                <fieldest class="card-footer mt-auto">
                    <button class="btn btn-outline-primary text-center" type="submit">
                        Save
                    </button>
                </fieldest>
            </form>
        </div>
    </div>

{% endblock content %}
    