{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <!-- display all notes -->
    {% if notes %}

        <div class="container-fluid mb-5 mt-3">
            <div class="row"> 
                {% for note in notes %}

                    <div class="col-md-3">
                        <div class="card mb-4 h-100">
                            <a class="text-decoration-none" href="{% url 'note:note_detail' note.id %}">
                                <div class="card-header text-capitalize text-primary fw-bold fs-4">
                                    {{ note.title }}
                                </div>
                                <div class="card-body fs-5 text-dark">
                                    {{ note.description|truncatewords:5 }}
                                </div>
                            </a>
                            <div class="card-footer mt-auto">
                                <p class="text-info">
                                    {{ note.created_at }}
                                </p>
                                <a class="btn btn-danger" href="{% url 'note:note_delete' note.id %}">
                                    <i class="fa-solid fa-trash fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}        
            </div>
        </div>

    {% else %}
        <h2 class="alert alert-info mt-3">No notes saved at the moment</h2>
    {% endif %}

    <!-- create a note form -->
    <div class="container mt-5" style="margin-bottom: 120px;">
        <div class="card">
            <fieldset>
                <legend class="card-title text-center text-success mt-3">
                    Create
                </legend>
            </fieldset>
            <form class="form-group" action="" method="post" autocomplete="off">
                {% csrf_token %}
                <fieldset class="card-body">
                    {{ form|crispy }}
                </fieldset>
                <fieldest class="card-footer mt-auto">
                    <button class="btn btn-outline-primary text-center" type="submit">
                        Save
                    </button>
                </fieldest>
            </form>
        </div>
    </div>
    
{% endblock content %}
    