{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'icon.svg' %}" type="image/x-icon">
   
    <!-- link css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/home_style.css' %}">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    
    {% block extra_css %}
        
    {% endblock extra_css %}
        
    
    <title>
        {% if title %}
            {{ title }}
        {% endif %}   
    </title>
</head>
<body>
    {% include 'navbar.html' %}


    
    {% if messages %}
        
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
           {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
            
    {% endif %}
        

    {% block content %}
        
    {% endblock content %}
        

    <div class="footer-wrapper mt-auto">
        <footer class="bg-dark text-center text-light py-3">
            <p class="mb-0"><strong>Copyright &copy; {% now "Y" %} Alex Njuguna Kinuthia</strong></p>
        </footer>
    </div>


    
    {% block extra_js %}
        
    {% endblock extra_js %}
        


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
