<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard:home' %}">Study Portal &nbsp;<i class="fa-solid fa-building-columns fa-lg"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'dashboard:home' %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Options</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'note:home' %}">Notes</a>
                        <a class="dropdown-item" href="{% url 'homework:home' %}">Homework</a>
                        <a class="dropdown-item" href="{% url 'youtube:home' %}">Youtube</a>
                        <a class="dropdown-item" href="{% url 'activity:home' %}">Activities</a>
                        <a class="dropdown-item" href="{% url 'book:home' %}">Books</a>
                        <a class="dropdown-item" href="{% url 'dictionary:home' %}">Dictionary</a>
                        <a class="dropdown-item" href="{% url 'wiki:home' %}">Wikipedia</a>
                        <a class="dropdown-item" href="{% url 'conversion:index' %}">Conversion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>